<%= form_for @message, url: user_path(@message.id), html: { method: :patch } do |f| %>
  <p>投稿</p>
  <p>お名前: <%= f.text_field :title %></p>
  <p>年齢: <%= f.text_field :detail %></p>
  <input type="submit" value="送信">
<% end %>
